.sitemap-destination {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -12px;
  padding-top: 12px;
}

.sitemap-destination li {
  color: #2c2f42;
  opacity: 0.8;
  font-weight: 300;
  text-align: left;
  word-break: break-word;
  text-transform: capitalize;
  margin-bottom: 12px;
  float: left;
  padding: 0 12px;
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: -0.25px;
}

.sitemap-destination li a {
  color: #2c2f42;
  text-transform: capitalize;
  opacity: 0.8;
  text-decoration: none;
  outline: 0 none;
}

.sitemap-destination li a:hover,
.sitemap-destination li a:focus {
  color: #1cad45;
}

@media (min-width: 992px) {
  .sitemap-destination li {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .sitemap-destination li {
    width: 33.33%;
  }
}

@media (max-width: 767px) {
  .sitemap-destination li {
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.3px;
  }
}
