*,
:after,
:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.common-list {
  width: 100%;
  margin-top: 24px;
}

.section-header {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px dashed #ccc;
  color: #2c2f42;
  opacity: 0.8;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.26px;
}

@media (min-width: 768px) {
  .section-header {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.29px;
  }
}
